#name {
	margin: 30px 0px 30px 0px;
	padding: 0;

	font-size: 2.3em;
	font-weight: bold;
}

#sidebar {
	padding-left: 10px;
	width: 15%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;
}

#sidebar-wrapper {
	
}

.text-sidebar {
	margin: 0;
	padding: 0;

	font-family: arial;
	font-size: 1.3em;
	letter-spacing: -.2;

	color: #323343;
	text-transform: uppercase;
	text-decoration: none;
}