body {
	padding: 0;
	margin: 0;
}
#content-wrapper {
	flex: 17;
}

#main-section {
	
	width: 100%;

	position: relative;
	top: 0;
	right: 0;
	
}

#mainImg {
	margin: 0 auto;
	margin: 1vh 3vw 1vh auto;
	max-height: 98vh;
	max-width: 100%;
	right: 0;
	position: absolute;
}

#wrapper {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}