#main-section {
	
	width: 85%;

	position: absolute;
	top: 0;
	right: 0;
	
}

#mainImg {
	margin: 0 auto;
	max-height: 100vh;
	max-width: 100%;
	right: 0;
	padding: 15px 50px 15px 0;
	position: absolute;
}