body {
	padding: 0;
	margin: 0;
}
#content-wrapper {
	flex: 17;
	display: flex;
	background: white;
}

#main-section {
	width: 100%;
	z-index: 3;
	position: relative;
	top: 0;
	right: 0;
	background: white;
}

#mainImg {
	margin: 0 auto;
	padding: 1vh 1% 1vh 1%;
	max-height: 98vh;
	max-width: 98%;
	right: 0;
	float: right;
}

#wrapper {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}